DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

ORACLE_NAME=
ORACLE_USER=
ORACLE_PASSWORD=
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=
ORACLE_TEST_USER=BUDGETFLOW_TEST
ORACLE_TEST_PASSWORD=

FRONTEND_URL=http://localhost:8080
